.inst{
    font-family: 'Cookie', cursive;
    font-size: 40px;
}

.form-control{
    margin-top: 10px;
}
.sign{
    width:100%;
}
.panel{
    border-style: solid;
    border-color:lightgray;
    padding: 10px 10px 10px 10px;
    margin-top:20px;

}