.inst{
    font-family: 'Cookie', cursive;
    font-size: 40px;
}

.form-control{
    margin-top: 10px;
}
.sign{
    width:100%;
}
.panel{
    border-style: solid;
    border-color:lightgray;
    padding: 10px 10px 10px 10px;
    margin-top:20px;

}

/* .nv{
    display:flex;
    justify-content: space-around;
} */

.prof-links a{
    padding-left: px;
    color:gray;
    margin-left:10px;
}
.prof-links a:hover{
    color:blue;
}